
/* .section{
  overflow-y: hidden;
} */

:root{
  --gradient:linear-gradient(
      45deg,
      #D7F4FB,#caf1de,#e1f8dc,#fef8dd,#ffe7c7,pink,#f7d8ba,#acddde
  )
}

.section{
  position:relative;
}

body{
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  width: .70rem;
  background: var(--gradient);
  border-radius: 0.55rem;
}

::-webkit-scrollbar-thumb{
  background-color: #282c34;
  border-radius: .5rem;
}


html,
body {
  scroll-behavior: smooth;
}

.lightOne{
  transition: 1s;
  background-color: #caf1de;
}

.lightTwo{
  transition: 1s;

  background-color: #e1f8dc;
}

.lightThree{
  transition: 1s;
  background-color: #fef8dd;
}

.lightFour{
  transition: 1s;
  background-color: #ffe7c7;
}

.lightSeven{
  transition: 1s;
  background-color: #acddde;
}

.lightSix{
  transition: 1s;
  background-color: pink;
}

.lightFive{
  transition: 1s;
  background-color: #f7d8ba;
}

.darkOne{
  transition: 1s;
  background-color: #161616;
  color: #f6f9ff;
}

.darkTwo{
  background-color: grey;
}

.darkThree{
  background-color: rgb(133, 7, 7);
}

.darkFour{
  background-color: rgb(16, 7, 7);
}

.darkSeven{
  background-color: rgba(0, 0, 0, 0.703);
}

.darkSix{
  background-color: rgb(6, 17, 17);
}

.darkFive{
  background-color: rgb(12, 16, 12);
}

@media screen and (max-width:1409px)  {
  .section{
    overflow-x: hidden;
    /* max-width: 1408px; */
  }

  *{
    /* max-width: 1408px; */
    /* overflow-x:hidden ; */
  }

  .main{
    max-width: 1200px;
  }

  .Contacts.section{
    margin-bottom: 100px;
    height: 106vh;
  }

  .home{
    max-width: 1360px;
    overflow-x: hidden;
  }

  .sidebar{
    position: fixed !important;
    /* height: 93vh !important; */
  }
  .home_container{
    height:788px !important;
  }
  .BG_img{
    height: 788px !important;
    width: 788px !important;
  }
  .about_container{
    column-gap: 0!important;
  }
}

@media screen and (max-width:1250px) {
  .home_container{
    height:100% !important;
  }
  .BG_img{
    height: 575px !important;
    width: 575px !important;
  }
  .section{
    margin-left: 0px !important;
  }
  .section.home{
    margin-left: 10px !important;
  }
  .section.about{
    padding-left: 10px !important;
  }
  .projects_card img{
    height: 200px !important;
    width: 300px !important;
  }
  .goals.section{
    padding-left: 30px !important;
  }
  .info_item{
    flex-wrap: wrap;
  }
  .home_data{
    transform: translateY(-20px);
  }
}

@media screen and (max-width:1015px) {
  ::-webkit-scrollbar{
    width: .70rem;
    background: var(--gradient);
    border-radius: 0.55rem;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #282c34;
    border-radius: .5rem;
  }
  
  
  html,
  body {
    scroll-behavior: smooth;
  }
  /* .BG_img{
    height: 383px !important;
    width: 383px !important;
  } */

  .home_data{
    scale: 0.9;
  }

  .BG_img{
    scale: 0.96;
  }

  .about_container.container{
    scale: 0.95;
    margin-left: 0 !important;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    align-items: center;
    justify-content: center;
    height: 110vh;
  }

  .section{
    padding-left: 0px !important;
  }

  .about.section{
    height: 171vh;
  }

  .section.about{
    padding-left: 0px !important;
  }
  
  .about_data{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about_description{
    text-align: center;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px !important;
  }

  .nav_close{
    display: block;
  }

  .nav_toggle{
    display: flex !important;
    
  }

  .sidebar{
    width: 100%;
    z-index: 999;
    transition: 0.5s;
    transform: translateX(-1000%);
  }

  .show-sidebar{
    transform: translateX(0);
  }
  
}

@media screen and (max-width:925px) {
  .section.home{
    height: 106vh;
  }
}

@media screen and (max-width:740px) {
  .skills.section{
    scale: 0.95;
  }
  .BG_img{
    scale: 0.8;
    margin-left: 70px;
  }
  .parallax{
    position: absolute;
  }
  .section.home{
    display: grid;
    justify-content: center;
    height: 102vh;
  }
  .home_data{
    color: #3baebf;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(-20px) translateY(-20px);
  }
  .home_social{
    transform: translateX(25px) !important;
  }
  .about_img{
    height: 400px;
    width: 400px;
  }

  .about.section .section_title{
    margin-bottom: 0;
  }

}