
/* .section{
  overflow-y: hidden;
} */

:root{
  --gradient:linear-gradient(
      45deg,
      #D7F4FB,#caf1de,#e1f8dc,#fef8dd,#ffe7c7,pink,#f7d8ba,#acddde
  )
}

body{
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  width: .70rem;
  background: var(--gradient);
  border-radius: 0.55rem;
}

::-webkit-scrollbar-thumb{
  background-color: #282c34;
  border-radius: .5rem;
}


html,
body {
  scroll-behavior: smooth;
}

.lightOne{
  transition: 1s;
  background-color: #caf1de;
}

.lightTwo{
  transition: 1s;

  background-color: #e1f8dc;
}

.lightThree{
  transition: 1s;
  background-color: #fef8dd;
}

.lightFour{
  transition: 1s;
  background-color: #ffe7c7;
}

.lightSeven{
  transition: 1s;
  background-color: #acddde;
}

.lightSix{
  transition: 1s;
  background-color: pink;
}

.lightFive{
  transition: 1s;
  background-color: #f7d8ba;
}

.darkOne{
  transition: 1s;
  background-color: #161616;
  color: #f6f9ff;
}

.darkTwo{
  background-color: grey;
}

.darkThree{
  background-color: rgb(133, 7, 7);
}

.darkFour{
  background-color: rgb(16, 7, 7);
}

.darkSeven{
  background-color: rgba(0, 0, 0, 0.703);
}

.darkSix{
  background-color: rgb(6, 17, 17);
}

.darkFive{
  background-color: rgb(12, 16, 12);
}